<mat-toolbar class="header" >
    <div class="left-section" (click)="toggleSidebar()">
      <img src="logo.png" alt="Company Logo" class="logo" />
      <span class="company-name">Artist Management System</span>
    </div>
   
    <div class="right-section">
      @if (authService.isAdmin || authService.isManager) {
        @if (authService.isAdmin) {
          <a mat-button routerLink="/users" routerLinkActive="active" color="primary">Users</a>
        }
        <a mat-button routerLink="/artists" routerLinkActive="active" color="primary">Artists</a>
      }
      <div class="profile">
        <img src="profile.jpg" alt="User" class="profile-pic" matTooltip="Profile" (click)="showProfile()"/>
        <button mat-icon-button color="warn" matTooltip="Logout" (click)="logout()">
          <mat-icon class="material-icons-outlined">logout</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
  