:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
//   background: linear-gradient(to right, #5beee2, #76a4f0);
  font-family: Arial, sans-serif;
}
h1 {
//   color: white;
  font-size: 3em;
  font-weight: 700;
}
