<div class="login-wrapper">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>
                <div class="company">
                    <img src="logo.png" alt="Company Logo" class="logo" />
                    <span class="company-name">Artist Management System</span>
                </div>
            </mat-card-title>
            <mat-card-subtitle>Please login to continue</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" required />
                    <mat-icon matSuffix color="primary">email</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" required />
                    <mat-icon matSuffix color="primary">lock</mat-icon>
                </mat-form-field>

                <div class="actions">
                    <button mat-raised-button color="primary" type="submit" class="full-width">Login</button>
                </div>
            </form>
        </mat-card-content>

        <mat-card-actions class="footer">
            <a routerLink="/auth/register">Don't have an account? <span class="register">Sign up</span></a>
        </mat-card-actions>
    </mat-card>
</div>